*~

!/.gitignore

# built binary
/serialfwd

# DigiESP/Eclipse CDT specifics
Debug/
Release/
!.project
!.cproject
!.settings

# Automake build specifics
build/

# XCode specifics
*.xcuserstate
xcuserdata/

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h.in
config.h
config.rpath
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1

# Openwrt build specifics
/.*
.pkgdir
ipkg-mipsel_24kc
NEWS
ChangeLog
ABOUT-NLS

